{% extends 'includes/template.twig' %}
{% import 'includes/macro.twig' as component %}

{% set uc = 'etatFrais' %}

{% block content %}
    <div id="listeMois">
        {% include 'includes/listeMois.twig' with {'lesMois': lesMois, 'moisASelectionner' : moisASelectionner ,'redirect' : '/frais/etat'} only %}
    </div>
{% if showEtat %}
<hr>
<div class="panel panel-primary">
    <div class="panel-heading">Fiche de frais du mois 
        {{ numMois }} - {{ numAnnee }} : 
        {% if idEtat != 'CR' %}
        <form action="pdf" method="post" class="pull-right">
            <input type="hidden" name="mois" value="{{ moisASelectionner }}">
            <button class="btn btn-default btn-xs"><i class="fa fa-file-pdf-o"></i> Télécharger le PDF</button>
        </form>
        {% endif %}
    </div>
    <div class="panel-body">
        <strong><u>Etat :</u></strong> {{ libEtat }}
        depuis le {{ dateModif }} <br> 
        <strong><u>Montant validé :</u></strong> {{ montantValide }}
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Eléments forfaitisés</div>
    <table class="table table-bordered table-responsive text-center">
        <tr>
            {% for unFraisForfait in lesFraisForfait %}
                <th class="text-center">{{ unFraisForfait.libelle|e }}</th>
                <th class="text-center" style="border-right: 1px solid black;"><i class="fa fa-euro"></i> {{ unFraisForfait.montant }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for unFraisForfait in lesFraisForfait %}
                <td class="qteForfait">{{ unFraisForfait.quantite }}</td>
                <td class="qteForfait" style="border-right: 1px solid black;">{{ unFraisForfait.quantite * unFraisForfait.montant }}</td>
            {% endfor %}
        </tr>
    </table>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Descriptif des éléments hors forfait - 
        {{ nbJustificatifs }} justificatifs reçus</div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th class="date">Date</th>
            <th class="libelle">Libellé</th>
            <th class='montant'>Montant</th>                
        </tr>
        {% for unFraisHorsForfait in lesFraisHorsForfait %}
        	<tr>
            	<td>{{ unFraisHorsForfait.date }}</td>
            	<td>{{ unFraisHorsForfait.libelle|e }}</td>
            	<td>{{ unFraisHorsForfait.montant }}</td>
        	</tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}