<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Remboursement de frais engagés | {{ date.text|capitalize }}</title>
</head>
<body>
	<p style="text-align: center;"><img class="center" src="img/logo.jpg" width="150" alt=""></p>
	<div class="bloc">
		<div class="bloc-head">REMBOURSEMENT DE FRAIS ENGAGES</div>
		<div class="bloc-body">
			<table id="table1">
				<tr>
					<td>Visiteur</td>
					<td>NRD/125-01</td>
					<td>{{ visiteur.prenom ~ ' ' ~ visiteur.nom|upper }}</td>
				</tr>
				<tr>
					<td>Mois</td>
					<td>{{ date.text|capitalize }} </td>
					<td></td>
				</tr>
			</table>
            {% set montant = 0 %}
			<table id="table2">
				<thead>
					<tr>
						<th class="first-child">Frais forfaitaires</th>
						<th>Quantité</th>
						<th>Montant unitaire</th>
						<th class="last-child">Total</th>
					</tr>
				</thead>
				<tbody>
            	{% for unFraisForfaitaire in lesFraisForfaitaires %}
            	    {% set total = unFraisForfaitaire.quantite * unFraisForfaitaire.montant %}
					<tr>
						<td class="align-right">{{ unFraisForfaitaire.libelle }}</td>
						<td>{{ unFraisForfaitaire.quantite }}</td>
						<td>{{ unFraisForfaitaire.montant }}</td>
						<td>{{ total }}</td>
					</tr>
                    {% set montant = montant + total %}
                {% endfor %}
				</tbody>
			</table>
			
			<div class="div" style="border-right: 1px solid #1F497D; border-left: 1px solid #1F497D; width: 90%; margin-left: 5%;">
				<p style="text-align: center;">Autres frais</p>	
			</div>

			<table id="table2">
				<thead>
					<tr>
						<th class="first-child">Date</th>
						<th>Libellé</th>
						<th class="last-child">Montant</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					</tr>
                    {% for unFrais in autresFrais %}
					<tr>
						<td class="align-right">{{ unFrais.date }}</td>
						<td class="align-right">{{ unFrais.libelle }}</td>
						<td>{{ unFrais.montant }}</td>
					</tr>
                    {% set montant = montant + unFrais.montant %}
                    {% endfor %}
				</tbody>
			</table>

            <div style="float: right; width: 29%; margin-top: 5%;">
            	<table id="table3">
            	    <tbody>
            	        <tr>
            	            <td>Total 07/2017</td>
            	            <td>{{ montant }}€</td>
            	        </tr>
            	    </tbody>
            	</table>
			</div>
		</div>
	</div>
	
	<div style="float: right; width: 25%; margin-top: 1%;">
		Fait à Paris, le {{ infosFicheFrais.dateModif|date('d/m') }} <br>
		Vu l'agent comptable <br><br>
		<img src="img/signatureComptable.png">
	</div>

	<style type="text/css">
		.bloc {
			margin: 5% auto;
			border: 1px solid black;
		}

		.bloc-head {
			border-bottom: 1px solid black;
			text-align: center;
			color: #1F497D;
			font-weight: bold;
		}

		.bloc-body {
			padding: 5px 20px;
			color: #1F497D;
		}

		#table1 td {
			padding: 10px 50px;
		}

		#table2 {
			width: 95%;
			margin-left: 5%;
			border-collapse: collapse;
			border: 1px solid #1F497D;
		}

		#table2 td {
			border: 1px solid #1F497D;
			border-collapse: collapse;
			text-align: right;
			padding: 8px 5px;
		}
                
		#table2 td.align-right {
			text-align: left;
		}

		#table2 th {
			border-top: 1px solid #1F497D;
			border-collapse: collapse;
			text-align: center;
			padding: 8px 5px;
			font-style: italic;
			color: #1F497D;
		}

		#table2 .first-child {
			border-left: 1px solid #1F497D;
		}

		#table2 .last-child {
			border-right: 1px solid #1F497D;
		}
                
		#table3 td {
			border: 1px solid #1F497D;
			border-collapse: collapse;
			text-align: right;
                        padding: 6px;
		}

        #table3 {
            border-spacing: 0;
            margin-top: 2%;
            float: right;
        }
                
		#table2 th {
			padding: 8px 5px;
		}

		#table2 td:first-child {
			text-align: left;
		}

		#tableTotal {
			border-collapse: collapse;
		}

		#tableTotal td:last-child {
			text-align: right;
		}

		#tableTotal td {
			border: 1px solid #1F497D;
			border-collapse: collapse;
		}
	</style>
</body>
</html>