{% extends 'includes/template.twig' %}
{% import 'includes/macro.twig' as component %}

{% set uc = 'suivreFrais' %}

{% block content %}

	{% include 'includes/listeMois.twig' with {'lesMois': lesMois, 'moisASelectionner' : moisASelectionner, 'redirect' : '/frais/suivre'} only %}

	{% if lesFiches is defined %}
	<hr>
        <form role="form" method="post" action="/frais/suivre/miseEnPaiement">
	<div class="panel panel-primary">
	    <div class="panel-heading">Mise en paiements
	        {{ moisASelectionner|slice(4, 2) ~ '-' ~ moisASelectionner|slice(0, 4) }} : </div>
	    <table class="table table-bordered table-responsive">
	        <tr>
	            <th class='chck'><input id="checkAlls" type="checkbox"></th>    
	            <th class="etat">Etat</th>
	            <th class="datemodif">DateModif</th>
	            <th class='montant'>Montant</th>
	            <th class='libelle'>Libellé</th>
	        </tr>
	        {% for uneFiche in lesFiches %}
	            <tr id="{{ uneFiche.idVisiteur }}">
	                <td><input class="chckbx" name="id[]" value="{{ uneFiche.idVisiteur }}" type="checkbox"></td>
	                <td> {{ uneFiche.idEtat }} </td>
	                <td> {{ uneFiche.dateModif }} </td>
	                <td> {{ uneFiche.montantValide }} </td>
	                <td> {{ uneFiche.libEtat }} </td>
	            </tr>
	        {% endfor %}
	    </table>
	</div>
        {{ component.button('Mettre en Paiment', 'success') }}
        </form>
        <hr>
	{% endif %}

{% endblock %}