{% extends 'includes/template.twig' %}
{% import 'includes/macro.twig' as component %}

{% set uc = 'suivreFrais' %}

{% block head %}
    {{ parent() }}
    <link href="{{ component.url('css/bootstrap-combobox.css')|trim }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>Suivis des paiements</h2>
    </br>
    <div class="row">
        <div class="col-md-offset-1">
            {% include 'includes/listeMois.twig' with {'lesMois': lesMois, 'selection' : selectionMois, 'redirect' : '/frais/suivre/multiple'} only %}
        </div>
        {% include 'includes/visiteursList.twig' with {'listVisiteurs': listVisiteurs, 'redirect' : '/frais/suivre/unique'} only %}
    </div>
    {% if lesFiches is defined %}
        <hr>
        <form role="form" method="post" action="/frais/suivre/unique/miseEnPaiement">
            <div class="panel panel-primary">
                <div class="panel-heading">Fiches de Frais de {{nom}} {{prenom}}</div>

                <table class="table table-bordered table-responsive">
                        <tr>
                            <th class="chck"><input id="checkAlls" type="checkbox"></th>
                            <th class="visiteur">Mois</th>
                            <th class="datemodif">Derniere Modification</th>
                            <th class="montantF">Montant F</th>
                            <th class="montantHF">Montant HF</th>
                            <th class="montantHF">Montant total</th>
                            <th class="libelle">Libellé</th>
                        </tr>
                        {% for uneFiche in lesFiches %}
                            {% set mois = uneFiche.mois|split('', 4) %}
                            <tr id="{{ uneFiche.id }}">
                                <td><input class="chckbx" name="lstMois[]" value="{{ uneFiche.mois }}" type="checkbox" {% if uneFiche.idEtat !="CR" %}disabled{% endif %}></td>
                                <td>{{ mois[1]}} - {{ mois[0]}}</td>
                                <td> {{ uneFiche.dateModif }} </td>
                                <td> {{ uneFiche.montantF }} </td>
                                <td> {{ uneFiche.montantHF }} </td>
                                <td> {{ uneFiche.montantTotal }} </td>
                                <td> {{ uneFiche.libEtat }} </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <input type="hidden" name="user" value="{{ user }}">
            {{ component.button('Mettre en paiement', 'success') }}
        </form>
        <hr>
    {% else %}
        </br>
        </br>
        </br>
        <hr>
        <h2>Pas de fiches de frais pour ce visiteur.</h2>
        <hr>
    {% endif %}
        
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ component.url('js/bootstrap-combobox.js')|trim }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.combobox').combobox();
        });

        $('#checkAlls').click(function() {
            $('.chckbx:enabled').prop('checked', this.checked);
        });
    </script>
{% endblock %}