{% extends 'includes/template.twig' %}
{% import 'includes/macro.twig' as component %}

{% set uc = 'validerFrais' %}

{% block content %}

    <div class="row">  
        {% if erreurs %}
            {{ component.alert(erreurs, danger) }}
        {% endif %}  

        <div id="choix-visiteur" class="col-12">
            <form method="post" action="/frais/valider" role="form">
                <div class="form-group col-sm-6">
                    <label for="lstVisiteurs">Choisir le visiteur : </label>
                    <!-- TODO: Voir pour permettre la recherche de visiteurs dans la liste pour choix + rapide/efficace -->
                    <select id="visiteurName" name="lstVisiteurs" class="form-control" onchange="this.form.submit()"> 
                        {% for unVisiteur in lesVisiteurs %}
                            {% if unVisiteur.id == visiteurASelectionner %}
                                <option selected value="{{ unVisiteur.id }}">{{ unVisiteur.nom }} {{ unVisiteur.prenom }}</option>
                            {% else %}
                                <option value="{{ unVisiteur.id }}">{{ unVisiteur.nom }} {{ unVisiteur.prenom }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="lstMois" accesskey="n">Mois : </label>
                    <select id="lstMois" name="lstMois" class="form-control" onchange="this.form.submit()">
                        {% for unMois in lesMois %}
                            {% if unMois.mois == moisASelectionner %}
                                <option selected value="{{ unMois.mois }}">{{ unMois.numMois }} / {{ unMois.numAnnee }}</option>
                            {% else %}
                                <option value="{{ unMois.mois }}">{{ unMois.numMois }} / {{ unMois.numAnnee }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <!-- Partie validation frais forfait -->
                <h2>Valider la fiche de frais </h2>
                <h3>Eléments forfaitisés</h3>
                <div class="form-group col-sm-12">
                    <fieldset>       
                        {% for unFrais in lesFraisForfait %} 
                            <div class="form-group">
                                <label for="idFrais">{{ unFrais.libelle }}</label>
                                <input type="text" id="idFrais" 
                                       name="lesFrais[{{ unFrais.idfrais }}]"
                                       size="10" maxlength="5" 
                                       value="{{ unFrais.quantite }}" 
                                       class="form-control"
                                       style="width: 13%;">
                            </div>
                        {% endfor %}

                        <input type="submit" name="corrigerForfait" class="btn btn-success" value="Corriger"/>                      
                        <input type="submit" name="reinitForfait" class="btn btn-danger" value="Réinitialiser"/>                     
                    </fieldset>
                    {% if majFraisForfaitSucces %}
                        {{ component.singleMsgAlert(majFraisForfaitSucces, 'success') }}
                    {% endif %} 
                    <hr>
                </div>

                <!-- Partie validation frais hors forfait -->
                <h3>Eléments hors forfait</h3>
                <div class="panel panel-primary">
                    <div class="panel-heading">Descriptif des éléments hors forfait </div>
                    <table id="table-hors-forfait" class="table table-bordered table-responsive">
                        <tr>   
                            <th>Date</th>
                            <th>Libellé</th>
                            <th>Montant</th>                        
                            <th></th>
                        </tr>
                        {% for unFraisHF in lesFraisHorsForfait %}
                            <tr>
                                <td class="table-frais-hors-forfait-input"> 
                                    <input type="text"
                                           name="lesFraisHF[{{ unFraisHF.id }}]"
                                           value="{{ unFraisHF.date }}" 
                                           class="form-control"
                                           style="width: 100%;">
                                </td>
                                <td class="table-frais-hors-forfait-input"> 
                                    <input type="text" 
                                           name="lesFraisHF[{{ unFraisHF.id }}]"
                                           value="{{ unFraisHF.libelle }}" 
                                           class="form-control"
                                           style="width: 100%;">
                                </td>
                                <td class="table-frais-hors-forfait-input"> 
                                    <input type="text"
                                           name="lesFraisHF[{{ unFraisHF.id }}]"
                                           value="{{ unFraisHF.montant }}" 
                                           class="form-control"
                                           style="width: 100%;">
                                </td>
                                <td> 
                                    <input type="submit" name="corrigerHorsForfait" class="btn btn-success" value="Corriger"/>                      
                                    <input type="submit" name="reinitForfait" class="btn btn-danger" value="Réinitialiser"/>   
                                </td>
                            </tr>
                        {% endfor %}
                    </table> 
                </div>               
            </form>
        </div>
    </div>
{% endblock %}