{% extends 'includes/template.twig' %}
{% import 'includes/macro.twig' as component %}

{% set uc = 'validerFrais' %}

{% block content %}

    <div class="row">  
        {% if erreurs %}
            {{ component.alert(erreurs, danger) }}
        {% endif %}  

        <div id="choix-visiteur" class="col-12">
            <form action="{{ redirect }}" method="post" role="form">
                <div class="form-group col-sm-6">
                    <label for="lstMois" accesskey="n">Choisir le visiteur : </label>
                    <input type="text" name="visiteurs" list="visiteurName" class="form-control"/>
                    <datalist id="visiteurName">
                        {% for unVisiteur in lesVisiteurs %}
                            <option value="{{ unVisiteur.nom }} {{ unVisiteur.prenom }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form-group col-sm-6">
                    <label for="lstMois" accesskey="n">Mois : </label>
                    <select id="lstMois" name="lstMois" class="form-control">
                        {% for unMois in lesMois %}
                	    {% if unMois.mois == moisASelectionner %}
                                <option selected value="{{ unMois.mois }}">{{ unMois.numMois }} / {{ unMois.numAnnee }}</option>
                            {% else %}
                                <option value="{{ unMois.mois }}">{{ unMois.numMois }} / {{ unMois.numAnnee }}</option>
                            {% endif %}
                	{% endfor %}
                    </select>
                </div>
            </form>
        </div>

        <div class="col-12">
            <h2>Valider la fiche de frais </h2>
        </div>
    </div>
{% endblock %}