{% extends 'includes/template.twig' %}
{% import 'includes/macro.twig' as component %}

{% set uc = 'validerFrais' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ component.url('css/bootstrap-datepicker3.min.css')|trim }}">
{% endblock %}

{% block content %}

    <div class="row">  
        {% if erreurs %}
            {{ component.alert(erreurs, danger) }}
        {% endif %}  

        <div id="choix-visiteur" class="col-12">
            <form method="post" action="/frais/valider" role="form">
                <div class="form-group col-sm-6">
                    <label for="lstVisiteurs">Choisir le visiteur : </label>
                    <select id="visiteurName" name="lstVisiteurs" class="form-control" onchange="this.form.submit()"> 
                        {% for unVisiteur in lesVisiteurs %}
                            {% if unVisiteur.id == visiteurASelectionner %}
                                <option selected value="{{ unVisiteur.id }}">{{ unVisiteur.nom }} {{ unVisiteur.prenom }}</option>
                            {% else %}
                                <option value="{{ unVisiteur.id }}">{{ unVisiteur.nom }} {{ unVisiteur.prenom }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="lstMois" accesskey="n">Mois : </label>
                    <select id="lstMois" name="lstMois" class="form-control" onchange="this.form.submit()">
                        {% for unMois in lesMois %}
                            {% if unMois.mois == moisASelectionner %}
                                <option selected value="{{ unMois.mois }}">{{ unMois.numMois }} / {{ unMois.numAnnee }}</option>
                            {% else %}
                                <option value="{{ unMois.mois }}">{{ unMois.numMois }} / {{ unMois.numAnnee }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div id="fraisForfait">
                    <!-- Partie validation frais forfait -->
                    <h2>Valider la fiche de frais </h2>
                    <h3>Eléments forfaitisés</h3>
                    <div class="form-group col-sm-12">
                        <fieldset>       
                            {% for unFrais in lesFraisForfait %} 
                                <div class="form-group">
                                    <label for="idFrais">{{ unFrais.libelle }}</label>
                                    <input type="text" id="idFrais" 
                                           name="lesFrais[{{ unFrais.idfrais }}]"
                                           size="10" maxlength="5" 
                                           value="{{ unFrais.quantite }}" 
                                           class="form-control"
                                           style="width: 13%;">
                                </div>
                            {% endfor %}
                            <label for="vehicule">Type de vehicule</label><br>
                            <input type="radio" name="vehicule" value="1" {% if vehicule == 1 %} checked {% endif %} > 4CV Diesel<br>
                            <input type="radio" name="vehicule" value="2" {% if vehicule == 2 %} checked {% endif %} > 5/6CV Diesel<br>
                            <input type="radio" name="vehicule" value="3" {% if vehicule == 3 %} checked {% endif %} > 4CV Essence<br>
                            <input type="radio" name="vehicule" value="4" {% if vehicule == 4 %} checked {% endif %} > 5/6CV Essence<br><br>
                            <button type="submit" name="corrigerForfait" class="btn btn-success">Corriger</button>                      
                            <button type="reset" name="reinitForfait" class="btn btn-danger">Réinitialiser</button>                   
                        </fieldset>
                        {% if majFraisForfaitSucces %}
                            {{ component.singleMsgAlert(majFraisForfaitSucces, 'success') }}
                        {% endif %} 
                        <hr>
                    </div>
                </div>

                <!-- Partie validation frais hors forfait -->
                <div id="fraisHorsForfait">
                    <h3>Eléments hors forfait</h3>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Descriptif des éléments hors forfait </div>
                        <table id="table-hors-forfait" class="table table-bordered table-responsive">
                            <tr>   
                                <th>Date</th>
                                <th>Libellé</th>
                                <th>Montant</th>                        
                                <th style="width: 15%">Actions</th>
                                <th><input id="checkAlls" type="checkbox"> Reporter <i class="fa fa-clock-o"></i> </th>
                            </tr>
                            {% for unFraisHF in lesFraisHorsForfait %}
                                <tr>
                                    <td class="table-frais-hors-forfait-input"> 
                                        <input type="text"
                                               id="dateFraisHorsForfait_{{ unFraisHF.id }}" 
                                               name="fraisHorsForfait[{{ unFraisHF.id }}][date]"
                                               value="{{ unFraisHF.date }}" 
                                               class="form-control date"
                                               style="width: 100%;">
                                    </td>
                                    <td class="table-frais-hors-forfait-input"> 
                                        <input type="text"
                                               id="libelleFraisHorsForfait_{{ unFraisHF.id }}" 
                                               name="fraisHorsForfait[{{ unFraisHF.id }}][libelle]"
                                               value="{{ unFraisHF.libelle }}" 
                                               class="form-control"
                                               style="width: 100%;">
                                    </td>
                                    <td class="table-frais-hors-forfait-input"> 
                                        <input type="text"
                                               id="montantFraisHorsForfait_{{ unFraisHF.id }}" 
                                               name="fraisHorsForfait[{{ unFraisHF.id }}][montant]"
                                               value="{{ unFraisHF.montant }}" 
                                               class="form-control col-md-3"
                                               style="width: 100%;">
                                    </td>
                                    <td>
                                        <button type="button" onclick="validerForfait({{ unFraisHF.id }});" class="btn btn-success" title="Valider"><i class="fa fa-check-square"></i></button>                      
                                        <button type="button" id="buttonReset_{{ unFraisHF.id }}" name="reinitForfait" onclick="resetInput({{ unFraisHF.id }});" class="btn btn-warning" title="Réinitialiser"><i class="fa fa-refresh"></i></button> 
                                        <button type="button" onclick="refus({{ unFraisHF.id }});" id="buttonRefus_{{ unFraisHF.id }}" class="btn btn-danger" title="Refuser"><i class="fa fa-ban"></i></button>                   
                                    </td>
                                    <td>
                                        <input type="checkbox" name="fraisHorsForfait[{{ unFraisHF.id }}][reporter]" id="">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table> 
                    </div>
                    {% if lesFraisHorsForfait is not empty %}
                        <button type="submit" name="corrigerLesHorsForfait" class="btn btn-success">Corriger</button>
                        <button type="submit" name="reporterLesHorsForfait" class="btn btn-warning"><i class="fa fa-clock-o"></i> Reporter</button>
                    {% endif %} 
                </div>
                <hr>                      
                <div id="justificatifs">
                    {% if majFraisHorsForfaitSucces %}
                        {{ component.singleMsgAlert(majFraisHorsForfaitSucces, 'success') }}
                    {% endif %} 
                    <label id="labelIdNbJustificatifs" for="idNbJustificatifs">Nombre de justificatifs : </label>
                    <input type="text" id="idNbJustificatifs" 
                           name="nbJustificatifs"
                           size="10" maxlength="5" 
                           value="{{ nbJustificatifs }}" 
                           class="form-control"
                           style="width: 5%;">
                    <div id="gpeBtnsNbJustificatifs">
                            <input type="submit" name="validerNbJustificatifs" class="btn btn-success" value="Valider"/>                      
                            <input type="reset" name="reinitNbJustificatifs" class="btn btn-danger" value="Réinitialiser"/>  
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    
    <script src="{{ component.url('js/validationFrais.js') }}"></script>
    <script src="{{ component.url('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ component.url('js/bootstrap-datepicker.fr.min') }}"></script>
    <script type="text/javascript">
        $('.date').datepicker({
            language: "fr",
            orientation: "bottom auto"
        });

        $('#checkAlls').click(function() {
            $('input[type="checkbox"]:enabled').prop('checked', this.checked);
        });
    </script>
{% endblock %}